<div class="card-user-register">
    <form>
       <h2 class="title-user-register"> Registro de Usuario</h2>
      
       <p class="or"><span></span></p>
 
       <mat-form-field class="text-user-register" appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput placeholder="usuario@email.com" value="">
       </mat-form-field>
       <mat-form-field class="text-user-register" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput value="">
       </mat-form-field>
       <mat-form-field class="text-user-register" appearance="fill">
         <mat-label>Nombres</mat-label>
         <input type="text" matInput value="">
      </mat-form-field>
      <mat-form-field class="text-user-register" appearance="fill">
         <mat-label>Apellidos</mat-label>
         <input type="text" matInput value="">
      </mat-form-field>
 
 
       <button mat-raised-button color="primary" class="button-user-register">Registrar</button>
 
 
       <a class="have-account-user-register" href="#">¿Ya tienes una cuenta?</a>
    </form>
 </div>