<div class="product-text-container">
    Elige tu canchita
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <mat-card class="product-card">
    <img mat-card-image src="/assets/img/app/product/product-image-1.jpg" alt="Cancha de Grass">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header> 
    <mat-card-content class="product-card-content">
      <p>
        Cancha de Grass
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="ngNextForm()">CONTRATAR</button>
      <div class="product-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="product-card">
    <img mat-card-image src="/assets/img/app/product/product-image-2.jpg" alt="Cancha Futsal">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="product-card-content">
      <p>
        Cancha Futsal
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="ngNextForm()" >CONTRATAR</button>
      <div class="product-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>