<div id="content-slider">
  <div class="slider-wrap"> 
    <!-- ===== Thumbnail ControlNav ======= -->         
    <input type="radio" id="input-1" name="i" >         
    <input type="radio" id="input-2" name="i" >         
    <input type="radio" id="input-3" name="i" >
    <input type="radio" id="input-4" name="i" >

    <nav class="slider-dot-control">
      <label for="input-1" class="slider-dot"></label>
      <label for="input-2" class="slider-dot"></label>
      <label for="input-3" class="slider-dot"></label>
      <label for="input-4" class="slider-dot"></label>
    </nav>

    <!-- =================================== -->    
    <nav class="slider-arrow-control">
      <label for="input-1"></label>
      <label for="input-2"></label>
      <label for="input-3"></label>
      <label for="input-4"></label>
    </nav>
    <!-- =================================== -->

   

    <!-- ===== IMages ======= -->                           

    <div class="slider">
      <div class="slider-inner">

        <figure>
          <figcaption class="slider-head">
            <h2>Pack Party</h2>
            <p>Disfrutalo en familia.</p>
            <!--<a href="#">read more...</a>-->
          </figcaption>
          <img src="/assets/img/app/home/home-1.jpg" alt="" id="i-1" class="slider-img">
        </figure>

        <figure>
          <figcaption class="slider-head">
            <h2>¿Como hacer tu pedido?</h2>
            <p>¡Te ayudamos a realizarlo!.</p>
            <!--<a href="">read more...</a>-->
          </figcaption>
          <img src="/assets/img/app/home/home-2.jpg" alt="" id="i-2" class="slider-img">
        </figure>

        <figure>
          <figcaption class="slider-head">
            <h2>Pack Party</h2> 
            <p>Disfrutalo en familia.</p>
            <!--<a href="#">read more...</a>-->
          </figcaption>
          <img src="/assets/img/app/home/home-3.jpg" alt="" id="i-3" class="slider-img">
        </figure>

        <figure>
          <figcaption class="slider-head">
            <h2>¿Como hacer tu pedido?</h2>
            <p>¡Te ayudamos a realizarlo!.</p>
            <!--<a href="#">FIND OUT MORE</a>-->
          </figcaption>
          <img src="/assets/img/app/home/home-4.jpg" alt="" id="i-4" class="slider-img">
        </figure>


        <figure>
          <figcaption class="slider-head">
            <h2>Pack Party</h2>
            <p>Disfrutalo en familia.</p>
            <!--<a href="#">read more...</a>-->
          </figcaption>
          <img src="/assets/img/app/home/home-1.jpg" alt="" id="i-5" class="slider-img">
        </figure>               
      </div>
    </div>
         
  </div>   
   
     <!--    IMAGE NAVIGATION pic -->
     <label id="thumb-1" for="input-1" class="slider-thumb">
        <img src="/assets/img/app/home/home-1.jpg" alt="" id="p-1">
        <div class="slider-head">
          <h2>Pack Party</h2>
          <p>Disfrutalo en familia.</p>
         <!-- <a href="#">read more...</a>-->
        </div>
      </label>
  
      <label id="thumb-2" for="input-2" class="slider-thumb">
        <img src="/assets/img/app/home/home-2.jpg" alt="" id="p-2">
        <div class="slider-head">
          <h2>¿Como hacer tu pedido?</h2>
          <p>¡Te ayudamos a realizarlo!.</p>
          <!--<a href="#">read more...</a>-->
        </div>
      </label>         
  
      <label id="thumb-3" for="input-3" class="slider-thumb">
        <img src="/assets/img/app/home/home-3.jpg" alt="" id="p-3">
        <div class="slider-head">
          <h2>Pack Party</h2> 
          <p>Disfrutalo en familia.</p> 
         <!-- <a href="#">read more...</a>-->
        </div>
      </label>
  
      <label id="thumb-4" for="input-4" class="slider-thumb" tabindex="13">
        <img src="/assets/img/app/home/home-4.jpg" alt="" id="p-4">
        <div class="slider-head">
          <h2>¿Como hacer tu pedido?</h2>
          <p>¡Te ayudamos a realizarlo!.</p>
         <!-- <a href="#">read more...</a>-->
        </div>
      </label>     
</div>
