<footer>
    <div class="row">
      <div class="col-3">
        <!-- <img src="" alt="" width="120" height="120" class="">-->
        <div class="social-links social-1 col-6">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-3">
        <div class="link-cat">
          <span class="footer-cat">Categorias</span>
        </div>
        <ul class="footer-cat-links">
          <li><a routerLink="category/3"><span>Futbol</span></a></li>
          <li><a routerLink="category/13"><span>Futbol Sala</span></a></li>
         
        </ul>
      </div>
      <div class="col-3">
        <div class="link-cat">
         
          <span class="footer-cat">Información</span>
        </div>
        <ul class="footer-cat-links">
          <li><a routerLink="aboutus"><span>Sobre nosotros</span></a></li>
          <li><a routerLink="contact"><span>Consultas y sugerencias</span></a></li>
        </ul>
      </div>
      <div class="col-3" id="newsletter">
        <span>Boletín</span>
  
        <p>Registrate para enviarte las ultimas ofertas y novedades.</p>
        <form id="subscribe">
          <input type="text" id="subscriber-name" name="fullName"  
           placeholder="Nombre y Apellido" required minlength="5" />
          <br><br>
          <input type="email" id="subscriber-email" name="email" 
           placeholder="Ingresa tu email" required min="5" />
  
          <input type="submit" value="Suscribirse" id="btn-scribe" />
        </form>
      </div>
    </div>
    <div id="copyright">
      &copy; Todos los derechos reservados 2022
    </div>
    <div id="owner">
      <span>
        Diseñado por <a routerLink="aboutus">Grupo 1</a>
      </span>
    </div>
  </footer>