<div class="order-summary-text-container">
    Resumen de la Orden
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
    <mat-card class="order-summary-card">
        <img mat-card-image src="/assets/img/app/order-summary/order-summary-image-1.jpg" alt="Resumen de la orden">
        <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="order-summary-text-card-content">
            <div>
                <b>ID:</b> AP0000000245
            </div>
            <div>
                <b>SEDE:</b> LIMA
            </div>
            <div>
                <b>PRODUCTO:</b> CANCHA DE GRASS
             <div class="order-summary-text-card-product">
                 120 m x 6 m
             </div>
            </div>
            <div>
                <b>METODO DE PAGO:</b> VISA
            </div>
            <div>
            <b>PRECIO UNITARIO:</b> S/. 60
            </div>
            <div>
                <b>CANTIDAD:</b> 2 h
            </div>
            <br>
            <div class="order-summary-text-card-product-total">
                TOTAL: S/. 120.00
            </div>
        </mat-card-content>
        <mat-card-actions class="order-summary-button-content">
            <button mat-raised-button color="primary" class="order-summary-button">PAGAR</button>
        </mat-card-actions>
    </mat-card>
</div>
<br>