.booking-text-container{
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
.booking-calendar-card-container {
  width: 30%;
}
.demo-table {
  width: 30%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}